@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: none;
  position: relative;
  width: 80%;
  height: 80vh;
  background: url(./img/bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin: auto;
}

#score {
  font-size: 40px;
  color: #abf641;
}

.paddle {
  background: url(./img/paddle.png) no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  height: 140px;
  width: 30px;
  /* background-color: white; */
}

#paddle1 {
  left: 20px;
}

#paddle2 {
  right: 20px;
}

#ball {
  background: url(./img/ball.png) no-repeat;
  background-position: center center;
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  /* background-color: white; */
  position: absolute;
  top: 300px;
  left: 500px;
}

#net {
  border-left: 5px dotted white;
  height: 450px;
  left: 50%;
  position: fixed;
  top: 90px;
}

.player {
  background: transparent;
  border: 0;
  color: #abf641;
  font-size: 30px;
}

#playerA {
  padding-right: 30px;
}
#playerB {
  padding-left: 30px;
}

/* Neon Text Effect */
body {
  background: #111;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

#game-intro {
  width: 100vw;
  height: 80vh;
  display: grid;
  /* border: 1px solid red; */
  place-items: center;
}

.title {
  text-transform: uppercase;
  color: white;
  animation: neonGlow 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.game-title {
  font-size: 6em;
}

.game-tribute {
  font-size: 3em;
}

#extra {
  display: none;
  padding-top: 40px;
}

.game-instruction,
.game-finished-msg {
  color: #abf641;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.game-finished-msg {
  display: none;
}

button {
  border: 2px solid white;
  color: white;
  margin: auto;
  text-transform: uppercase;
  animation: neonGlow 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#start-btn {
  background: transparent;
  border-radius: 10px;
  font-size: 2em;
  padding: 10px 50px;
}

p.game-finished-msg > button {
  background: transparent;
  border-radius: 10px;
  font-size: 1em;
  margin-left: 1ch;
  padding: 2px 5px;
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(66, 220, 219, 0.8), 0 0 60px rgba(66, 220, 219, 0.8),
      0 0 80px rgba(66, 220, 219, 0.5), 0 0 100px rgba(66, 220, 219, 0.5),
      0 0 140px rgba(66, 220, 219, 0.5), 0 0 200px rgba(66, 220, 219, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
      0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8),
      0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5),
      0 0 80px rgba(66, 220, 219, 0.5);
  }
}
